@font-face { 
  font-family: FontName; 
  src: url('../FontName.woff2') format('woff2'), url('./FontName.woff') format('woff'); 
  }

body {margin:0;}

.announcebar {
  overflow: hidden;
  background-color: #2e2e2e;
  position: fixed;
  top: 0;
  width: 100%;
  height: 2.5em;
  text-align: center;
}

.announcebar p {
  color: white;
  font-family: 'FontName', Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 0.938rem;
  font-weight: 400;
}

.logobar {
  overflow: hidden;
  background-color: #ffffff;
  padding-top: 45px;
  width: 100%;
  height: 82px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.logobar img {
    width: 140px;
}




.banner {
  width: 100%;
  height: 400px;
  background-image: url('../waterdrop-home-drop_3000x.png');
  background-size: cover;
  background-position: center;
}